{% trans_default_domain "symforium" %}
{% extends 'SymforiumInstallerBundle:Installer:installer.html.twig' %}

{% block content %}
    <div class="panel panel-info" id="installer">
        <div class="panel-body bg-info">
            <div class="section border-info">
                <div class="row">
                    <div class="col-xs-10">
                        {{ 'symforium.installer.welcome'|trans|raw }}
                    </div>
                    <div class="col-xs-2">
                        <a class="btn btn-success" href="{{ url('symforium_installer_step_one') }}">
                            {{ 'symforium.installer.step.next'|trans|raw }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}