blocks:
    - Bldr\Block\Frontend\FrontendBlock

bldr:
    name: symforium/symforium-core
    description: Symforium Core Project
    profiles:
        assets:
            description: Compile Assets
            tasks:
                - destroyBuild
                - compileLess
                - minifyCss
                - minifyJs
                - copyAssets
                - destroyBuild
        watchAssets:
            description: Profile for watching assets
            tasks:
                - destroyBuild
                - compileLess
                - minifyCss
                - minifyJs
                - copyAssets
                - destroyBuild
                - watchAssets

    tasks:
        destroyBuild:
            calls:
                -
                    type: filesystem:remove
                    files: [src/Bundle/CoreBundle/Resources/private/build]
        compileLess:
            calls:
                -
                    type: less
                    failOnError: false
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/less/, files: main.less }
                    dest: src/Bundle/CoreBundle/Resources/private/build/css/main.css
                -
                    type: less
                    failOnError: false
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/less/, files: admin.less }
                    dest: src/Bundle/CoreBundle/Resources/private/build/css/adminLess.css
        minifyCss:
            calls:
                -
                    type: concat
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/css/, files: [bootstrap.css, font-awesome.css, flat-ui.css] }
                        - { path: src/Bundle/CoreBundle/Resources/private/css/highlight/, files: github.css }
                    dest: src/Bundle/CoreBundle/Resources/private/build/css/vendor.css
                -
                    type: concat
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/build/css/, files: adminLess.css }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/lib/, files: codemirror.css }
                    dest: src/Bundle/CoreBundle/Resources/private/build/css/admin.css
                -
                    type: minify:css
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/build/css/, files: main.css }
                    dest: src/Bundle/CoreBundle/Resources/private/build/css/main.min.css
                -
                    type: minify:css
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/build/css/, files: vendor.css }
                    dest: src/Bundle/CoreBundle/Resources/private/build/css/vendor.min.css
                -
                    type: minify:css
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/build/css/, files: admin.css }
                    dest: src/Bundle/CoreBundle/Resources/private/build/css/admin.min.css
        minifyJs:
            calls:
                -
                    type: minify:js
                    failOnError: false
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/js/, files: main.js }
                    dest: src/Bundle/CoreBundle/Resources/private/build/js/main.min.js
                -
                    type: concat
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/lib/, files: codemirror.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/addon/edit/, files: continuelist.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/addon/mode/, files: overlay.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/addon/mode/, files: colorize.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/mode/xml/, files: xml.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/mode/markdown/, files: markdown.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/mode/javascript/, files: javascript.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/mode/css/, files: css.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/mode/php/, files: php.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/mode/puppet/, files: puppet.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/mode/sql/, files: sql.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/mode/yaml/, files: yaml.js }
                        - { path: src/Bundle/CoreBundle/Resources/private/js/codemirror/mode/gfm/, files: gfm.js }
                    dest: src/Bundle/CoreBundle/Resources/private/js/codemirror.js
                -
                    type: concat
                    src:
                        -
                            path: src/Bundle/CoreBundle/Resources/private/js/
                            files:
                                - jquery.js
                                - bootstrap.js
                                - bootstrap-select.js
                                - bootstrap-switch.js
                                - flatui-checkbox.js
                                - flatui-radio.js
                                - highlight.js
                    dest: src/Bundle/CoreBundle/Resources/private/build/js/vendor.js
                -
                    type: minify:js
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/build/js/, files: vendor.js }
                    dest: src/Bundle/CoreBundle/Resources/private/build/js/vendor.min.js
                -
                    type: concat
                    src:
                        -
                            path: src/Bundle/CoreBundle/Resources/private/js/
                            files:
                                - codemirror.js
                                - tabby.js
                                - jarvismenu.js
                                - mousetrap.js
                                - speakingurl.js
                                - marked.js
                                - admin.js
                    dest: src/Bundle/CoreBundle/Resources/private/build/js/admin.js
                -
                    type: minify:js
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/build/js/, files: admin.js }
                    dest: src/Bundle/CoreBundle/Resources/private/build/js/admin.min.js

        copyAssets:
            description: Copies assets from build, fonts, and images to src/Bundle/CoreBundle/Resources/public
            calls:
                -
                    type: filesystem:remove
                    files: [src/Bundle/CoreBundle/Resources/public]
                -
                    type: filesystem:mkdir
                    files: [src/Bundle/CoreBundle/Resources/public]
                -
                    type: exec
                    executable: cp
                    arguments:
                        - -r
                        - src/Bundle/CoreBundle/Resources/private/build/js
                        - src/Bundle/CoreBundle/Resources/public/
                -
                    type: exec
                    executable: cp
                    arguments:
                        - -r
                        - src/Bundle/CoreBundle/Resources/private/js/main.js
                        - src/Bundle/CoreBundle/Resources/public/js/
                -
                    type: exec
                    executable: cp
                    arguments:
                        - -r
                        - src/Bundle/CoreBundle/Resources/private/build/css
                        - src/Bundle/CoreBundle/Resources/public/
                -
                    type: exec
                    executable: cp
                    arguments:
                        - -r
                        - src/Bundle/CoreBundle/Resources/private/fonts
                        - src/Bundle/CoreBundle/Resources/public/
                -
                    type: exec
                    executable: cp
                    arguments:
                        - -r
                        - src/Bundle/CoreBundle/Resources/private/images
                        - src/Bundle/CoreBundle/Resources/public/

        watchAssets:
            description: Watches for changes in the src/Bundle/CoreBundle/Resources/private directory
            calls:
                -
                    type: watch
                    failOnError: false
                    src:
                        - { path: src/Bundle/CoreBundle/Resources/private/, files: [*], recursive: true }
                    profile: assets
