@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

.border-primary {
    border-color: @brand-primary;
}
.border-success {
    border-color: @brand-success;
}
.border-info {
    border-color: @brand-info;
}
.border-warning {
    border-color: @brand-warning;
}
.border-danger {
    border-color: @brand-danger;
}

#main-nav {
    height: 50px;
    border-bottom: 1px solid #CCC;

    a {
        color: #222222;
    }

    a:hover {
        color: #999999;
        text-decoration: none;
    }

    #logo {
        padding: 8px 25px 15px 0;
        font-size: 150%;
    }

    nav {

        ul {
            padding: 0;
            list-style: none;
            float: left;
            width: 100%;

            li {
                float: left;
                padding: 15px;
                height: 50px;
                text-align: center;
            }
        }
    }
}

section#content {
    padding: 20px;
}