@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

.row.top5 {
    margin-top: 5px;
}
.row.top10 {
    margin-top: 10px;
}
.row.top15 {
    margin-top: 15px;
}
.row.top20 {
    margin-top: 20px;
}
.row.top25 {
    margin-top: 25px;
}
.row.top30 {
    margin-top: 30px;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(44, 62, 80, 1.0);
}

body, html,  {
    height: 100%;
}

body {
    background-color: rgba(189, 195, 199,1.0);
}

*:focus {
    outline: 0;
}

#content {
    padding-top: 35px;
}

#navigation {

    border-width: 0;
    border-radius: 0;
    margin-bottom: 0;
    height: 76px;

    > .container-fluid {
        padding: 0;
    }

    > .navbar {
        border-bottom: 2px solid rgba(44, 62, 80, 1);
    }

    a {
        color: rgba(238, 238, 238, 1);

        > i {
            right: 8px;
            color: rgba(238, 238, 238, 1);
        }
    }

    .collapse {
        > ul > li.current {
            background: rgba(238, 238, 238, 1);

            > a, > a > i {
                color: rgba(26, 188, 156, 1);
            }
        }
    }

    a:hover, li.open a {
        color: rgba(26, 188, 156, 1);
    }
    a:hover > i, li.open a > i {
        color: rgba(26, 188, 156, 1);
    }

    .navbar-brand, a {
        font-weight: 300;
    }

    .navbar-header{

        width: 16.66666667%;

        .navbar-brand {

            margin: 0 auto;
            width: 100%;
            text-align: center;

            span {
                color: rgba(236, 240, 241, 1);
            }

            span#logo-for, span#logo-um {
                font-weight: 400;
            }

            span#logo-sym, span#logo-i {
                font-weight: 300;
            }

            span#logo-i {
                color: rgba(52, 152, 219, 1);
                font-style: italic;
                margin: 0 2px 0 -1px;
            }
        }

        .navbar-brand:hover {
            span#logo-sym, span#logo-i {
                font-weight: 400;
            }

            span#logo-for, span#logo-um {
                font-weight: 300;
            }

            span#logo-i {
                color: rgba(26, 188, 156, 1);
            }
        }
    }


}

pre code * {
    font-family: Consolas, Monaco, "Lucida Console";
}