{% extends 'SymforiumCoreBundle:Layout:main.html.twig' %}

{% block content %}

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}{% endblock %}

{% endblock %}