.border-primary {
  border-color: #428bca;
}
.border-success {
  border-color: #5cb85c;
}
.border-info {
  border-color: #5bc0de;
}
.border-warning {
  border-color: #f0ad4e;
}
.border-danger {
  border-color: #d9534f;
}
#main-nav {
  height: 50px;
  border-bottom: 1px solid #CCC;
}
#main-nav a {
  color: #222222;
}
#main-nav a:hover {
  color: #999999;
  text-decoration: none;
}
#main-nav #logo {
  padding: 8px 25px 15px 0;
  font-size: 150%;
}
#main-nav nav ul {
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}
#main-nav nav ul li {
  float: left;
  padding: 15px;
  height: 50px;
  text-align: center;
}
section#content {
  padding: 20px;
}
