* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2c3e50;
}
.navbar-brand span {
  color: #ecf0f1;
}
.navbar-brand span#logo-for,
.navbar-brand span#logo-um {
  font-weight: 400;
}
.navbar-brand span#logo-sym,
.navbar-brand span#logo-i {
  font-weight: 300;
}
.navbar-brand span#logo-i {
  color: #3498db;
  font-style: italic;
}
.navbar-brand:hover span#logo-sym,
.navbar-brand:hover span#logo-i {
  font-weight: 400;
}
.navbar-brand:hover span#logo-for,
.navbar-brand:hover span#logo-um {
  font-weight: 300;
}
.navbar-brand:hover span#logo-i {
  color: #1abc9c;
}
.border-primary {
  border-color: #428bca;
}
.border-success {
  border-color: #5cb85c;
}
.border-info {
  border-color: #5bc0de;
}
.border-warning {
  border-color: #f0ad4e;
}
.border-danger {
  border-color: #d9534f;
}
#global-search-div {
  height: 50px;
  width: 300px;
  margin-right: -15px;
  border-left: 1px solid;
}
#global-search-div span {
  position: absolute;
  right: 15px;
  top: 18px;
  color: #555;
}
#global-search-div input {
  display: block;
  width: 100%;
  padding: 6px 35px 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555;
  border: none;
  height: 49px;
}
#global-search-div input:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  outline: none;
}
#global-search-div ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #555;
}
#global-search-div :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
  opacity: 1;
}
#global-search-div ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
  opacity: 1;
}
#global-search-div :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #555;
}
#admin-nav ul {
  list-style: none;
}
#admin-nav ul li {
  border-bottom: 1px solid #bdc3c7;
  border-radius: 3px;
  background: #ecf0f1;
  box-shadow: 0px 1px 0px #bdc3c7;
  height: 30px;
  width: 150px;
  padding: 3px 10px;
  margin: 5px -20px;
  text-align: right;
}
#admin-nav ul li i {
  margin-left: 8px;
}
#admin-nav ul li a {
  color: #2c3e50;
}
#admin-nav ul li a:hover {
  color: #2980b9;
  text-decoration: none;
}
#admin-nav ul li a:hover i {
  color: #2980b9;
}
#navigation > .navbar .navbar-brand,
#navigation > .navbar a {
  font-weight: 300;
}
#navigation > .navbar .collapse .nav.navbar-nav a {
  height: 30px;
}
body {
  background-color: #bdc3c7;
  padding-top: 50px;
}
section#content > .container {
  padding: 25px 50px;
  min-height: 500px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
}
