#main-nav {
  height: 50px;
  border-bottom: 1px solid #CCC;
}
#main-nav nav ul {
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}
#main-nav nav ul li {
  float: left;
  width: 100px;
  padding: 15px 0;
  height: 50px;
}
section#content {
  padding: 20px;
}
