{% trans_default_domain "symforium" %}
{% extends 'SymforiumCoreBundle:Layout:layout.html.twig' %}

{% block title %}Symforium - Admin Panel{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        section#content > .container, #navigation .container {
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;
        }

        #logo > a:after {
            content: '{{ 'symforium.admin.title'|trans }}';
            font-size: 70%;
            top: -2px;
            position: relative;
        }
    </style>
{% endblock %}

{% block menu %}
    {#{ knp_menu_render('admin') }#}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url('symforium_core_core_admin_index') }}">View Site</a></li>
    </ul>
{% endblock %}

{% block contentSection %}
    <div class="admin-nav">
        {{ knp_menu_render('admin') }}
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}