{% trans_default_domain "symforium" %}
{% set containerClass = 'container-fluid' %}
{% set bodyType = 'admin' %}
{% extends 'SymforiumCoreBundle:Layout:layout.html.twig' %}

{% block title %}Symforium - Admin Panel{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #content {
            padding-left: 200px;
        }

        #logo > a:after {
            content: '{{ 'symforium.admin.title'|trans }}';
            font-size: 70%;
            top: -2px;
            position: relative;
        }
    </style>
{% endblock %}

{% block menu %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url('symforium_core_core_admin_index') }}">View Site</a></li>
    </ul>
{% endblock %}

{% block contentSection %}
    <nav id="admin-nav">
        {{ knp_menu_render('admin', {'currentClass': 'active'}) }}
    </nav>
    <div id="admin-content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}