{% trans_default_domain "symforium" %}
{% extends 'SymforiumCoreBundle:Layout:layout.html.twig' %}

{% block menu %}
    <ul class="nav navbar-nav">
        <li><a href="{{ url('symforium_core_core_index_index') }}">Home</a></li>
        <li><a href="#">Static 1</a></li>
        <li><a href="#">Static 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ url('symforium_core_core_admin_index') }}">Admin Panel</a></li>
            {% else %}
            {% endif %}
        {% else %}
            <li><a href="{{ url('fos_user_registration_register') }}">Register</a></li>
            <li><a href="{{ url('fos_user_security_login') }}">Sign In</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block contentSection %}
    {% block content %}{% endblock %}
{% endblock %}
